<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <style>
        nav h1 {
            color: #44111c;
            font-size: 3em;
            text-decoration: none;
        }
        button {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <nav>
        <form method="POST" action = "/data_send">
            <div class = "form-group">
                <h1 style="text-align:center">Username</h1>
                <p align="center"><input type="text" name = "pay"></p>
            </div>
        </form>
        <form method="POST" action = "/data_send/Friends_locations">
            <p style="text-align:center"><a href=Friends_locations.html ><button class=green style="height:45px;width:150px">Click Me To See Map</button></a></p>
        </form>
        <a href="#"></a>
    </nav>
    <hr>
</body>
</html>